{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="pricing-header px-3 py-3 pt-md-2 pb-md-4 mx-auto text-center">
  <br>
  <h1 class="display-4 text-dark">Live COVID-19 Dashboard</h1>
  <div class="container-fluid">
    <span class="badge badge-primary">Last Updated Time : {{ last_updated_time }}</span>
  </div>
</div>

<!-- Card India and World Confirmed, Active and Dead Count-->

<div class="container">
   <!-- table-responsive -->
   <div class="table-responsive">
      <!-- table -->
      <table class="table table-borderless text-center">
         <thead>
            <tr>
               <th scope="col" style="border:0.5px solid #8b8b8b;background:rgba(128,128,128,0.25);width:49%">
                  <h4 class="my-0 font-weight-normal">India</h4>
                  </td>
               <th scope="col" style="width:2%"></td>
               <th scope="col" style="border:0.5px solid #8b8b8b;background:rgba(128,128,128,0.25);width:49%">
                  <h4 class="my-0 font-weight-normal">World</h4>
                  </td> 
            </tr>
         </thead>
         <tbody>
            <tr>
               <td style="border:0.5px solid #8b8b8b">
                  <h1 class="card-title pricing-card-title">{{total_india}}</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                     <li>Active : {{active_india}}</li>
                     <li>Recovered : {{recovered_india}}</li>
                     <li>Dead : {{dead_india}}</li>
                  </ul>
               </td>
               <td></td>
               <td style="border:0.5px solid #8b8b8b">
                  <h1 class="card-title pricing-card-title">{{total_world}}</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                     <li>Active : {{world_active_cases}}</li>
                     <li>Recovered : {{total_world_recovered}}</li>
                     <li>Dead : {{total_world_death}}</li>
                  </ul>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>


<div class="container">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">India</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{total_india}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Active : {{active_india}}</li>
          <li>Recovered : {{recovered_india}}</li>
          <li>Dead : {{dead_india}}</li>
        </ul>

      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">World</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{total_world}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Active : {{world_active_cases}}</li>
          <li>Recovered : {{total_world_recovered}}</li>
          <li>Dead : {{total_world_death}}</li>
        </ul>

      </div>
    </div>
  </div>
  <div id="container"></div>
  <script src="{% static 'js/highcharts.src.js' %}"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Covid-19 Growth Rate - India'
        },
        subtitle: {
            text: '<b>Last Updated Time : {{ last_updated_time }}</b>'
        },
        xAxis: {
            categories: ['{{yesterday8}}','{{yesterday7}}','{{yesterday6}}','{{yesterday5}}','{{yesterday4}}','{{yesterday3}}','{{yesterday2}}','{{yesterday1}}','{{yesterday}}','{{today}}']
        },
        series: [
        {
            name: 'Number of Confirmed',
            data: [{{sterday8_confirmed}},{{sterday7_confirmed}},{{sterday6_confirmed}},{{sterday5_confirmed}},{{sterday4_confirmed}},{{sterday3_confirmed}}, {{sterday2_confirmed}}, {{sterday1_confirmed}}, {{sterday_confirmed}}, {{today_case}} ],
            color: 'red'
        },{
            name: 'Number of Recovered',
            data: [{{sterday8_recovered}},{{sterday7_recovered}},{{sterday6_recovered}},{{sterday5_recovered}},{{sterday4_recovered}},{{sterday3_recovered}}, {{sterday2_recovered}}, {{sterday1_recovered}}, {{sterday_recovered}}, {{today_recovered}} ],
            color: 'green'
        },{
            name: 'Number of Death',
            data: [{{sterday8_death}},{{sterday7_death}},{{sterday6_death}},{{sterday5_death}},{{sterday4_death}},{{sterday3_death}}, {{sterday2_death}}, {{sterday1_death}}, {{sterday_death}}, {{today_death}} ],
            color: 'black'
        }
        ]
    });
  </script>
<br>
<br>
<br>
  <!-- Table India Statewise Report-->

  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h5 class="my-0 font-weight-normal"><center>India State wise Report</center></h5>
    </div>


  <br>

  <table class="table table-striped table-light">
  <colgroup>
    <col class="col-md-4">
    <col class="col-md-2">
    <col class="col-md-2">
    <col class="col-md-2">
    <col class="col-md-2">
  </colgroup>
  <thead>
  <tr>
    <th scope="col">State</th>
    <th scope="col">Confirmed</th>
    <th scope="col">Active</th>
    <th scope="col">Recovered</th>
    <th scope="col">Dead</th>
  </tr>
  </thead>
  <tbody>
  {% for key in statewise %}
  <tr>
    <th scope="row">{{key.state}}</th>
    <td style="background:rgba(255,0,0,0.25)">{{key.confirmed}}</td>
    <td style="background:rgba(255,165,0,0.25)">{{key.active}}</td>
    <td style="background:rgba(0,255,0,0.25)">{{key.recovered}}</td>
    <td style="background:rgba(128,128,128,0.25)">{{key.deaths}}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>


  <!-- Highcharts No of India Confirmed cases chart -->



  <footer class="pt-4 my-md-5 pt-md-5 border-top">
  <center>
      <span href="https://www.covid19india.org/" class="badge badge-pill badge-primary">Statewise source : covid19india.org</span><br>
      <span href="https://www.worldometers.info/coronavirus/" class="badge badge-pill badge-info">Nation count source : mohfw.gov.in</span><br>
      <span href="https://www.mohfw.gov.in/" class="badge badge-pill badge-dark">World count source : worldometers.info</span><br>
    </center>
    <br><small class="text-muted"><center>&copy; DRV - 2020</center></small>
  </footer>
  <br>
</div>


{% endblock %}

